/* Your code here */
.nav {
    padding-top: 10px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}

.nav__link {
    font-size: 12px;
    font-weight: 600;
}