/* Your code here */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "left-area right-area";
}

.left-area {
    grid-area: left-area;
    border-right: 1px solid #e2e2e2;
    margin-top: 10px;
}

.article__big {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "header header" "text video";
    padding: 0px 16px 50px 0px;
    min-height: 440px;
    box-sizing: border-box;
}

.article__big > h1 {
    font-style: italic;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 0px 20px;
    height: fit-content;
}

.article__big .article__big-subtitle {
    font-weight: bold;
    font-style: italic;
    padding: 0px 0px 20px;
    font-size: 18px;
}

.article__byline{
    color: #999;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    padding: 5px 0px 5px;
    font-family: georgia, "times new roman", times, serif;
}

.article__big-title {
    grid-area: header;
}

.article__big-body {
    grid-area: text;
    padding-right: 15px;
}

ul {
    margin-left: 1em;
}

li {
    list-style: outside;
    line-height: 16px;
    padding: 5px 0px;
    font-size: 12px;
}

.article__big-video {
    grid-area: video;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

iframe {
    background-color: black;
    padding: 38px 0px;
}

.video-subtitle {
    font-size: 12px;
    padding: 10px 0px;
}

.more-articles {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 160px;
}

.article {
    padding: 10px 0px;
    margin-left: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.right-area .article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: min-content;
    gap: 15px;
}

.article__header {
    flex-basis: min-content;
    margin: 0px;
}
a.comments:link {
    color: #0051ff;
    font-size: 10px;
}

a.comments:visited {
    color: #c300ff;
    font-size: 10px;
}

.more-articles article:first-child {
    border-right: 1px solid #e2e2e2;
}

.article header{
    padding-left: 0px;
}

.section-name__big{
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    height: fit-content;
}

.section-name__small {
    font-size: 12px;
    text-transform: uppercase;
}

.article__title {
    font-weight: bold;
}

.article__image {
    height: 100px;
    object-fit: cover;
}

.mini-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 12px;
    margin-left: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.mini-article {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0px;
}

.mini-right {
    padding-top: 16px;
    border-left: 1px solid #e2e2e2;
}

.mini-left > .mini-article {
    margin-right: 5px;
}

.mini-right > .mini-article {
    margin-left: 5px;
}

.mini-article:last-child {
    border-bottom: none;
}

.mini-article .article__author {
    color: #999;
}

.mini-article .article__title {
    font-weight: bold;
}

p {
    line-height: 16px;
    font-size: 12px;
}