/* Your code here */
.masthead {
    display: grid;
    grid-template-areas:
        "menu-and-search . actions"
        ". technologies ."
        "date logo paper";
    grid-template-columns: 1fr 1fr 1fr;
    /* column-gap: 0px; */
    /* justify-content: stretch; */
    /* align-items: stretch; */
    grid-gap: 0px;
}

.masthead__menu-and-search {
    align-items: center;
    align-self: center;
    display: flex;
    grid-area: menu-and-search;
    justify-content: flex-start;
    padding-left: 20px;
}

.masthead__technologies {
    background-color: white;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    color: #6f6f6f;
    display: flex;
    font-size: 10px;
    gap: 10px;
    grid-area: technologies;
    justify-self: center;
    padding: 0px 10px;
    position: relative;
    text-transform: uppercase;
    top: 1px;
}

.masthead__actions {
    align-items: center;
    display: flex;
    gap: 5px;
    grid-area: actions;
    justify-content: flex-end;
    padding: 10px 0px;
}

.masthead__date {
    align-items: flex-end;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    display: flex;
    font-size: 11px;
    grid-area: date;
    padding-bottom: 11px;
    padding-right: auto;
}

.masthead__logo {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    grid-area: logo;
    padding-bottom: 11px;
    padding-top: 15px;
    padding: auto;
}

.masthead__paper {
    align-items: flex-end;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    display: flex;
    font-size: 11px;
    grid-area: paper;
    justify-content: flex-end;
    padding-bottom: 11px;
}

.masthead__button {
    font-size: 11px;
    padding: 7px 9px;
}

.masthead__button:hover {
    background-color: #f7f7f5;
}