@import url(./reset.css);

html {
    max-width: 1280px;
}

body, html {
    margin: 8px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /* background-color: rgb(235, 235, 235); */
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: .5em 0px;
    text-align: center;
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 14px;
}

h2, h2, h3, h4, h5, h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: .5em 0px;
}

p {
    padding: 1em 0px;
}

.nav {
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    background-color: rgb(235, 235, 235);
    align-items: center;
    /* padding: 0px auto; */
    /* width: 100vw; */
}

.nav-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: .25em;
    font-weight: bolder;
}

.nav-link.active {
    text-decoration: overline;
}

.nav-link.disabled {
    color: grey;
    text-decoration: line-through;
}

.nav-link.disabled:hover {
    cursor: not-allowed;
}

.btn {
    box-sizing: border-box;
    padding: 8px;
    margin: 4px;
    background-color: rgb(0, 158, 79);
    color: rgb(235, 235, 235);
    text-shadow: 0px 0px 2px #000;
    border-radius: 8px;
    filter: none;
    border-style: solid;
    border: 1px solid gray;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0px 2px 4px black;
}

.btn-link {
    text-decoration: none;
}

.card {
    margin: 8px 0px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 1px solid gray;
}

.card-img-top {
    width: inherit;
    height: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.card-title {
    font-weight: bold;
}

.alert {
    color: red;
    padding: 1em 0px;
}

.alert-primary {
    font-size: large;
}

.row.g-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}