body {
    background-color: #1d3e81;
    color: #E8EFF0;
    text-align: center;
}
img {
    width: 50%;
}
a {
    color: #E8EFF0;
}

a.backButton {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1;
    text-decoration: none;
}

/* Your code here */
@media print {
    img {
        width: 100%;
    }

    a.backButton {
        display: none;
    }

    body {
        background-color: transparent;
    }

    h1 {
        position: absolute;
        margin: 0px auto;
        left: 0;
        right: 0;
        top: 16px;
        color: white;
    }

    p {
        position: relative;
        margin-top: -32px;
    }

    body, html {
        margin: 0px;
    }

    .notPrinted {
        display: none;
    }
}